<ion-content>
  <ion-row style="display: flex; justify-content: center; align-items: center;  height: 100%;">
    <ion-card>
      <ion-card-content>

        <form onsubmit="">
          <ion-list lines="full" class="ion-no-margin ion-padding" *ngIf="emailLogin">
            <ion-item>
              <ion-input required type="email" name="username" placeholder="Enter Email" [(ngModel)]="username"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input required type="password" name="password" placeholder="Enter Password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list>

          <div class="ion-padding">
            <ion-button (click)="emailLogin()" expand="block" type="submit" class="ion-no-margin">Login
            </ion-button>
          </div>
        </form>

        <!-- <div class="ion-padding">
          <ion-button (click)="emailLogin()" expand="block" type="submit" class="ion-no-margin">Login with Email Id
          </ion-button>
        </div>
        <div class="ion-padding">
          <ion-button (click)="phoneLogin()" expand="block" color="success" type="submit" class="ion-no-margin">Login with
            Phone Number</ion-button>
        </div> -->

      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>